


	<h2>Experimentinstruktioner</h2>
	<p>
	Denna laboration är en del av ett datavetenskapligt experiment. 
	</p>
	<p>
	Syftet med experimentet är att undersöka effekten av olika kodkvalitet. 
	</p>
	<p>
	Om du deltar kommer vi samla in information från när du arbetar med experimentet.
	Du kommer att få möjlighet att se resultat från experimentet efter kursens avslut.
	</p>
	<ol>
		<li>
			<strong>Deltagande i experimentet påverkar inte betyget</strong></li>
		<li>
			<strong>Påbörja bara uppgiften om du har tid att utföra den.</strong>
		När du startar uppgiften vill vi att du skall försöka ha minst 20 minuter ostörd tid. 
		Vi vill helst att du klarar av att lösa uppgiften utan att växla mellan olika medium. 
		</li>
		<li>
			<strong>Arbeta i webbläsarens editor.</strong>
		Vi vill att du arbetar i webbläsarfönstrets editor och inte i din egen editor.
			<ul>
				<li>
					<strong>Låt javascript vara påslaget</strong>
		Experimentet kräver en webbläsare som klarar javascript och att javascript är påslaget.
				</li>
				<li>
					<strong>Arbeta i en enda flik</strong> 
				</li>
			</ul>
		</li>

		<li>
			<strong>Arbeta ensam</strong> Om du får hjälp eller läser en lösning från någon annan räknas detta som fusk.
		</li>
		
	</ol>
	