	

	<h2>Experimentinstruktioner</h2>
	<p>
	Denna laboration är en del av ett datavetenskapligt experiment. 
	</p>
	<p>
	Syftet med experimentet är att undersöka effekten av olika kodkvalitet. 
	</p>
	<p>
	Om du deltar kommer vi samla in information från när du arbetar med experimentet.
	Du kommer att få möjlighet att se resultat från experimentet efter kursens avslut.
	</p>
	<ol>
		<li><strong>Deltagande i experimentet påverkar inte betyget.</strong></li>
		<li><strong>Insamlad mätdata kommer behandlas ansvarsfullt.</strong></li>
		<li><strong>Oavsett om du deltar eller inte kommer du behöva utföra samma uppgifter.</strong></li>
	</ol>